{% extends 'style.html.twig' %}

{% block home %}Register{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    <form style="background-color: white;">
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
									<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
									Register</button>
            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </form>
<p>do you already have an email?<a href="{{ path('app_login') }}">click here login</a></p>
<br>
{% endblock %}



