{% extends 'base2.html.twig' %}

{% block body %}

<b>
<br>

 
 
<div class="container-fluid h-custom">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-md-9 col-lg-6 col-xl-5">
						<img src="assets/img/hero-img.png" class="img-fluid" alt="Sample image">
					</div>
					<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
       
        <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="bg-info"><strong>Name</strong></th>
                    <th class="bg-success"><strong>Description</strong></th>
                    <th class="bg-warning"><strong>Category</strong></th>
                    <th class="bg-info"><strong>IsOperating</strong></th>
                    <th class="bg-success"><strong>Installation Date</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                    <tr>
                        <td style="padding-left: 5px; padding-right: 5px;">{{ module.name }}</td>
                        <td style="padding-left: 5px; padding-right: 5px;">{{ module.description }}</td>
                        <td style="padding-left: 5px; padding-right: 5px;">{{ module.category }}</td>
                        <td style="padding-left: 5px; padding-right: 5px;">{{ module.isOperating ? 'Yes' : 'No' }}</td>
                        <td style="padding-left: 5px; padding-right: 5px;">{{ module.installationDate ? module.installationDate|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
 </div>
</div>


<hr>
<br>

    {% endblock %}